<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>New Restaurant</title>
		<link rel="stylesheet" href="/bootstrap_css/bootstrap.css" />
	</head>
	
	<body>

	<div class="container">
        <div class="row">
            <div class="col-12 logo-ctn text-center">
                <img class="logo" src="/images/fork.svg" />
            </div>
			
			 <h1 class="col-12 header text-center"><%= restName %></h1>
			 
			<div class="col-12">
			 <img src=" data:<%= mimetype %>;base64, <%= photo %>" style="width:100%">
			</div>
	
			<div class="col-12">	
				<p><label>Borough: </label><%=boro%></p>
				<p><label>Cuisine: </label><%=cuis%></p>
				<p><label>Street: </label><%=street%></p>
				<p><label>Building: </label><%=build%></p>
				<p><label>Zipcode: </label><%=zipcode%></p>
				<p><label>GPS: </label><%=gps%></p>
				<p><label>Rating: </label><%=rate%></p>
				<p><label>Created by: </label><%=owner%></p>
			</div>
	
			<p><a href="">Map</a></p>
			<div class="col-12">
			<a href="<%=rateWithId%>" style="text-decoration:none">
			<button class="btn btn-primary">Rate</button>
			</a>
			<a href="<%=editWithId%>" style="text-decoration:none">
			<button class="btn btn-primary">Edit</button>
			</a>
			<a href="<%=delWithId%>" style="text-decoration:none">
			<button class="btn btn-primary">Delete</button>
			</a>
			
			<button class="btn btn-primary" onClick="goBack()">Go Back</button>
			</div>
		</div>
	</div>
	
	</body>
</html>